.morningFoodTB {
    background-position: center;
    background-position: top;
    background-color: #050a15;

}

.firstNapTB {
    background-position: center;
    background-position: top;
    background-color: #224591;

}

.lunchTB {
    background-position: center;
    background-position: top;
    background-color: #3063cf;

}

.secondNapTB {
    background-position: center;
    background-position: top;
    background-color: #274fa5;

}

.supperTB {
    background-position: center;
    background-position: top;
    background-color: #0e1d3e;

}

.crazyTB {
    background-position: center;
    background-position: top;
    background-color: #040a15;

}

.lonelyTB {
    background-position: center;
    background-position: top;
    background-color: #000000;

}