.navl {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}

.dropdown {
    float: left;
}

li .anav, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 50px;
    text-decoration: none;
}

.anav:hover, .dropdown:hover .dropbtn {
    background-color: black;
}

.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: gray;
    min-width: 160px;
    box-shadow: 8px 8px 7px 3px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 7px 10px;
    color: white;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: darkgray;
}

.dropdown:hover .dropdown-content {
    display: block;
}